<section ng-controller="CartController" ng-init="getCart()">
    <div class="page-header">
        Cart
    </div>
    <div>
        <button type="button" class="btn btn-default" ng-click="openToShare()">Share with friends!</button>
    </div>
    <div class="list-group">
        <div ng-repeat="product in cart.products" class="list-group-item row">
            <div class="col-md-2">
                <img ng-src="{{product.thumbnailImage}}" />
            </div>

            <div class="col-md-6">{{product.name}}</div>
            <div class="col-md-2">{{product.salePrice}}</div>
            <div class="col-md-1">
                {{product.quantity}}
            </div>
            <div class="col-md-1">
                <a href="/#!/cart">
                    <img src="modules/products/img/button_minus_red.ico" ng-click="removeFromCart(product)"/>
                </a>
            </div>
        </div>
    </div>
 </section>