<section ng-controller="CartController" ng-init="initializeCarts()">
    <div class="page-header">
        All Carts <button type="default" ng-click="openNewCartPopup()">Create New!</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Type</th>
                <th class="col-md-1">Owner</th>
                <th class="col-md-3">Contributors</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="cart in allCarts" ng-click="isOpen=!isOpen"
                ng-class="{'success':selectedCart.cartId == cart.cartId}">
                <td>{{cart.name}}</td>
                <td>{{cart.cartType}}</td>
                <td>{{cart.owner}}</td>
                <td>
                    <div class="list">
                        <div ng-repeat="contributor in cart.contributors" class="list-item">
                            {{contributor.displayName}}
                        </div>
                    </div>
                </td>
                <td>
                    <button type="default" class="btn btn-default" ng-click="selectCart(cart)">Select</button>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="isOpen">
                <td colspan="5" ><div > Demo1 </div> </td>
            </tr>
        </tbody>
    </table>
</section>