<section ng-controller="ProductsController" ng-init="initializeData()">
	<div class="page-header">
		Products
		<form>
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
		      <span class="input-group-btn">
		        <button class="btn btn-default" ng-click="getProducts()" type="submit">Go!</button>
		      </span>
		    </div><!-- /input-group -->
	    </form>
	</div>
	<div class="list-group">
			<div ng-repeat="product in products" class="list-group-item row">
                <div class="col-md-2">
                    <img ng-src="{{product.thumbnailImage}}" />
                </div>

				<div class="col-md-6">{{product.name}}</div>
				<div class="col-md-2">{{product.salePrice}}</div>
                <div class="col-md-1" >
                    <input id="intNumberStep3" type="number" min="0" max="50" step="1" ng-model="product.quantity" ng-hide="product.isInCart"/>
                </div>
                <div class="col-md-1" >
                    <a href="" ng-hide="product.isInCart">
                        <img src="modules/products/img/button_plus_green.ico" ng-click="addProductToCart(product)"/>
                    </a>
                    <a href="" ng-show="product.isInCart">
                        <img src="modules/products/img/button_minus_red.ico" ng-click="removeFromCart(product)"/>
                    </a>
                </div>
			</div>
	</div>
</section>